* {
    margin: 0px;
}

/* Banner Section Design */

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    max-width: 1140px;
    margin: 0 auto;
}

.head {
    background-image: url('../images/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    border-radius: 16px;
    margin: auto;
    /* height: 600px; */
    /* width: 100%; */
}

.banner {
    margin-top: 80px;
}

.banner-content {
    text-align: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 190px;
    border-radius: 16px;
}

.banner-title {
    color: #FFF;
    font-size: 40px;
    font-family: Merriweather;
}

.banner-Party {
    color: #FFF;
    font-size: 65px;
    font-family: Merriweather;
}

.banner-celebratioin {
    color: #FFF;
    font-size: 60px;
    font-family: Merriweather;
}


/* Main Section Design */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* all Categories Section Style */

.all-categorie-section {
    text-align: center;
}

.all-categorie-section h3 {
    color: #F00;
    font-size: 85px;
    margin-top: 90px;
}

.all-categorie-section p {
    color: #F00;
    font-size: 20px;
    margin-top: 35px;
}

.all-categorie-section h4 {
    color: #070211;
    font-size: 40px;
}

.all-categories-image {
    margin-top: 40px;
    width: 55%;
    margin-bottom: 120px;
}

/* MidNight Css Section */

.midnight-section {
    background-image: url('../images/resources/midnight-party.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 120px;
}

.midnight-area {
    background: linear-gradient(90deg, #070211 -10%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* padding: 80px; */
    border-radius: 16px;
}

.midnight-content {
    padding-left: 80px;
    padding-right: 20px;
}

.midnight-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.midnight-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
}

.midnight-year-image-year {
    width: 50%;
}

#image-style {
    padding-top: 46px;
    padding-bottom: 12px
}

.midnight-button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

.span-design {
    color: #F00;
}

.hotel-info-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    border-radius: 15px;
}

.hotel-content {}

.hotel-info-button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #F00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    padding: 16px 32px;
    margin-bottom: 60px;
}

#info-place {
    padding-top: 100px;
}

.hotel-info {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    line-height: 56px;
    text-transform: capitalize;
}